body {
  background-image: url('images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  @media screen and (min-width: 320px) {
   .title {
       font-size: 1.6em;    // I want my title this size on a phone
   }
  #menuArea {
      width: 100%;  
  }
}

@media screen and (min-width: 600px) {
  .title {
       font-size: 2em;    // I want my title this size on a bigger tablet
   }
  #menuArea {
      width: 80%;
  }
}
}
